<%= javascript_include_tag "bootstrap-tooltip" %>
<%= javascript_include_tag "bootstrap-popover" %>

<ul class="nav nav-tabs">
   <li class="active">
      <a href=<%= root_path %> >New Games</a>
   </li>
   <li>
      <a href=<%= hot_game_path%> >Hot Games</a>
   </li>
</ul>

<div class="row">
   <% @games_new.each do |game| %>
   <div class="span2">
      <%= link_to image_tag(game.cover_image.thumb('100x100#').url,
      class: "element_popover", rel: "popover", title: game.name, :"data-content" => game.description),
      {:action => 'show', :controller => 'static_pages', id: game} %>
      <p><b><%= game.name %></b></p>
      <p>
      <% if game.price == 0 %>
      <%= link_to image_tag("download.png"), '#' %>
      <% else %>
      <%= link_to image_tag("buynow.png"), '#' %>
      <% end %>
      </p>
   </div>
   <% end %>
</div>
<%= paginate @games_new %>

<script>
$(function () {
  $(".element_popover").popover({
    offset: 5,
    placement: 'left'
  });
});
</script>