<%= javascript_include_tag "bootstrap-tooltip" %>
<%= javascript_include_tag "bootstrap-popover" %>

<ul class="nav nav-tabs">
   <li>
      <% if @cateid != nil %>
      <a href="<%= root_path %>?category=<%= @cateid %>" >New Games</a>
      <% else %>
      <a href="<%= root_path %>" >New Games</a>
      <% end %>
   </li>
   <li class="active">
      <%# binding.pry %>
      <% if @cateid != nil %>
      <a href="<%= hot_game_path %>?category=<%= @cateid %>" >Hot Games</a>
      <% else %>
      <a href="<%= hot_game_path %>" >Hot Games</a>
      <% end %>
   </li>
</ul>
    
<div class="row">
   <% @games_hot.each do |game| %>
   <div class="span2">
      <%= link_to image_tag(game.cover_image.thumb('100x100#').url,
      class: "element_popover", rel: "popover", title: game.name, :"data-content" => game.description),
      {:action => 'show', :controller => 'static_pages', id: game} %>
      <p><b><%= game.name %></b></p>
      <p><div class="rateit"></div></p>
      <p>
      <% if game.price == 0 %>
      <%= link_to image_tag("download.png"), '#' %>
      <% else %>
      <%= link_to image_tag("buynow.png"), '#' %>
      <% end %>
      </p>
   </div>
   <% end %>
</div>
<%= paginate @games_hot %>

<script>
$(function () {
  $(".element_popover").popover({
    offset: 5,
    placement: 'left'
  });
});
</script>