<div class="show_game">
  <div class="avatar">
    <%= image_tag @game.cover_image.thumb('128x128#').url %>
  </div>
  <div class="name">
    <h2><b><%= @game.name %></b></h2>
  </div>

  <select id="backing2b">
    <option value="0">Bad</option>
    <option value="1">Nomal</option>
    <option value="2">OK</option>
    <option value="3">Great</option>
    <option value="4">Perfect</option>
    <option value="5">Excellent</option>
  </select>
  <div class="rateit" data-rateit-backingfld="#backing2b"></div>
  
  <div class="info">
    <p><%= @game.info.gsub("\n","<br>").html_safe %></p>
  </div>

  <div class="tabbable" style="margin-bottom: 18px;">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#comment" data-toggle="tab">Comment</a></li>
      <li class=""><a href="#related" data-toggle="tab">Related</a></li>
    </ul>
    <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
      <div class="tab-pane active" id="comment">
        <%= render 'static_pages/comment' %>
      </div>
      <div class="tab-pane" id="related">
        <div class="row">
          <% @game.game_related.each do |game| %>
            <div class="span2">
              <%= image_tag(game.cover_image.thumb('100x100#').url,
              class: "element_popover", rel: "popover", title: game.name, :"data-content" => game.description ) %>
              <p><b><%= game.name %></b></p>
              <p><a class="btn" href="#">Download</a></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>