<h1>Listing news</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.title %></td>
    <td><%= news.content %></td>
    <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, [:admin, news] %></td>
    <td><%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_news_path(news) %></td>
    <td><%= link_to '<i class="icon-remove-sign"></i>'.html_safe, [:admin, news], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News', new_admin_news_path %>
