<%= form_for [:admin, @game], :html => {:multipart => true} do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>  
  <div class="field">
    <%= f.label "Avatar:" %>
    <%= f.file_field :cover_image %>
  </div>  
  <div class="field">
    <%= f.label "Banner:" %>
    <%= f.file_field :banner %>
  </div> 
 
  <%#= f.simple_fields_for :game_images do |game_image| %>
    <%#= game_image.input :image, as: :file %>
    <%#= game_image.input :_destroy, as: :radio %>
    <%# if controller.action_name == "edit" %>
      <!-- <div class="preview-img"> -->
        <%#= image_tag game_image.image.thumb('100x100').url if game_image.image_uid %>
      <!-- </div> -->
    <%# end %>
  <%# end %>

  <div class="field">
    <%= f.label "Hot Game" %>
    <%= f.check_box :is_hot %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
