<%= form_for [:admin, @game], :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
	
	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<%= f.text_field :name %>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Category</label>
		<div class="controls">
			<%= f.select :category, Category.all.collect {|c| [ c.name, c.id ] }, include_blank: false %>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Info</label>
		<div class="controls">
			<%= f.text_area :info, size: "60x5"%>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Description</label>
		<div class="controls">
			<%= f.text_area :description, size: "60x5"%>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Avatar</label>
		<div class="controls">
			<% if controller.action_name == "new" %>
				<%= f.file_field :cover_image, required: true %>
			<% else %>
				<%= f.file_field :cover_image %>
				<div class="preview-img">
        	<%= image_tag @game.cover_image.thumb('50x50').url if !@game.cover_image_uid.nil? %>
      	</div>
			<% end %>
		</div>
	</div>

  <div class="control-group">
		<label class="control-label">Banner</label>
		<div class="controls">
			<% if controller.action_name == "new" %>
				<%= f.file_field :banner, required: true %>
			<% else %>
				<%= f.file_field :banner %>
				<div class="preview-img">
        	<%= image_tag @game.banner.thumb('100x100').url if !@game.banner_uid.nil? %>
      	</div>
			<% end %>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Price</label>
		<div class="controls">
			<%= f.text_field :price %>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Hot Game</label>
		<div class="controls">
			<%= f.check_box :is_hot %>
		</div>
	</div>
	
  <%= f.text_field :link %>

  <%= f.fields_for :game_images do |game_image| %>
    <%= game_image.file_field :image %>
    <%#= game_image.input :_destroy, as: :hidden %>
    <%# if controller.action_name == "edit" %>
      <!-- <div class="preview-img"> -->
        <%#= image_tag game_image.image.thumb('100x100').url if game_image.image_uid %>
      <!-- </div> -->
    <%# end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
