<h1>Listing games</h1>


<%= link_to 'New Game', new_admin_game_path, class: "btn btn-primary" %>

<form class="pull-right">
  <input type="text" class="input-medium search-query" name="search_text">
  <button type="submit" class="btn">Search</button>
</form>

<table class="table table-striped" style="width:70% !important;">
  <thead>
    <tr>
      <th width="5%">#</th>
      <th width="10%">Avatar</th>
			<th width="19%"><%= sortable_link('average_rating', params[:direction], admin_games_path) %></th>
      <th width="20%"><%= sortable_link('name', params[:direction], admin_games_path) %></th>
      <th width="10%">Category</th>
      <th width="15%">Hot Game</th>
      <th width="10%"><%= sortable_link('price', params[:direction], admin_games_path) %></th>
      <th width="11%"></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each_with_index do |game, index| %>
      <tr>
      <td style="text-align: center"><%= index + 1 + (params[:page].present? ? (params[:page].to_i - 1)*@per_page : 0) %></td>
        <td><%= image_tag game.cover_image.thumb('100x100#').url if game.cover_image_uid %></td>
				<td><%= game.average_rating %></td>
        <td><%= game.name if !game.name.nil? %></td>
        <td><%= game.category.name %></td>
        <td><%= game.is_hot %></td>
        <td><%= game.price %> VND</td>
        <td>
          <%= link_to '<i class="icon-eye-open"></i>'.html_safe, [:admin, game] %>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_game_path(game) %>
          <%= link_to '<i class="icon-remove-sign"></i>'.html_safe, [:admin, game], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
</table>

<%= paginate @games %>
