<ul class="breadcrumb">
  <li><%= link_to "Home", admin_root_path %></li> <span class="divider">/</span>
  <li><%= link_to "Games", admin_games_path %></li> <span class="divider">/</span>
  <li class="active">Show</li>
</ul>

<h1>Show Game</h1><br/>

<div class="tabbable" style="margin-bottom: 18px;">
  <ul class="nav nav-tabs">
  <li class="active"><a href="#information" data-toggle="tab">Information</a></li>
  <li class=""><a href="#comments" data-toggle="tab">Comments</a></li>
  </ul>
  
  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
    <div class="tab-pane active" id="information">
      <p><%= image_tag @game.cover_image.thumb('100x100#').url %></p>
      <p><b>Name:</b><%= @game.name %></p>
      <p><b>Category:</b><%= @game.category.name %></p>
      <p><b>Information:</b><%= @game.info.gsub("\n","<br>").html_safe %></p>
      <p><b>Hot Game:</b><%= @game.is_hot %></p>
      <p><b>Price:</b><%= @game.price %></p>
			<p><b>Average rating:</b><%= @game.average_rating %></p>
    </div>

    <div class="tab-pane" id="comments">
      <div class="scrollspy-example">
        <table class="table table-striped">
          <% @comments.each_with_index do |comment, index| %>
            <tr>
              <td width="5%" style="text-align: center"><%= index+1 %></td>
              <td width="20%"><%= comment.user.email %></td>
              <td><%= comment.content.gsub("\n","<br>").html_safe %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_admin_game_path(@game) %> |
<%= link_to 'Back', admin_games_path %>
