<p id="notice"><%= notice %></p>
<div class="banner">
  <%= image_tag @game.banner.thumb('900x260#').url %>
</div>

<div class="show_game">
  <div class="avatar">
    <%= image_tag @game.cover_image.thumb('100x100#').url %>
  </div>
  <div class="name">
    <p><b><%= @game.name %></b></p>
  </div>

  <div class="info">
    <p><%= @game.info.gsub("\n","<br>").html_safe %></p>
  </div>

</div>

<%= link_to 'Edit', edit_admin_game_path(@game) %> |
<%= link_to 'Back', admin_games_path %>
