<%= javascript_include_tag "bootstrap-tooltip" %>
<%= javascript_include_tag "bootstrap-popover" %>

<ul class="nav nav-tabs">
	<li class="<%= 'active' if params[:game] == 'new' || params[:game].nil? %>">
      <% if @cateid != nil %>
      <a href="<%= root_path %>?category=<%= @cateid %>&game=new" >New Games</a>
      <% else %>
      <a href="<%= root_path %>?game=new" >New Games</a>
      <% end %>
   </li>
   <li class="<%= 'active' if params[:game] == 'hot' %>">
      <%# binding.pry %>
      <% if @cateid != nil %>
      <a href="<%= root_path %>?category=<%= @cateid %>&game=hot" >Hot Games</a>
      <% else %>
      <a href="<%= root_path %>?game=hot" >Hot Games</a>
      <% end %>
   </li>
	<li class="<%= 'active' if params[:game] == 'top' %>">
      <%# binding.pry %>
      <% if @cateid != nil %>
      <a href="<%= root_path %>?category=<%= @cateid %>&game=top" >Top Rated</a>
      <% else %>
      <a href="<%= root_path %>?game=top" >Top Rated</a>
      <% end %>
   </li>
</ul>

<div class="row">
   <% @games.each do |game| %>
	
   <div class="span2">
      <%= link_to image_tag(game.cover_image.thumb('100x100#').url,
      class: "element_popover", rel: "popover", title: game.name, :"data-content" => game.description),
      {:action => 'show', :controller => 'games', id: game} %>
      <p><b><%= game.name %></b></p>
      <p>
				<div class="rateit" data-rateit-value="<%= game.average_rating %>" data-rateit-readonly="true"></div>
			</p>
      <p>
				<%= render "share/choice_device", :gid => game.id %>
        <% if game.price == 0 %>
          <%= link_to image_tag("download.png"), "##{game.id}", html_options = { :"data-toggle" => "modal"} %>
        <% else %>
          <% if signed_in? %>
            <%= link_to image_tag("buynow.png"), '/payments/new' %>
            <%# binding.pry %>
          <% else%>
            <%= link_to image_tag("buynow.png"), "#myModal", html_options = { :"data-toggle" => "modal"} %>
          <% end %>
        <% end %>
      </p>
   </div>
   <% end %>
</div>
<%= paginate @games %>

<script>
$(function () {
  $(".element_popover").popover({
    offset: 5,
    placement: 'left'
  });
});
</script>