<table class="table table-striped">
  <thead>
    <tr>
      <th width="15%">Name</th>
      <th width="60%">Comment</th>
      <th width="20%">Game</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.name %></td> 
        <td><%= micropost.content %></td>
        <td><%= micropost.game.name %></td>
        <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, micropost %></td>
        <td><%= link_to '<i class="icon-remove-sign"></i>'.html_safe, micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New comment', new_micropost_path %>