<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container header">
      <%= link_to "Games store", '/', id: "logo",  class: "brand"%>
      <nav>
        <ul class="nav header-right">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <% if signed_in? %>
            <li><%= link_to current_user.email, '#' %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <li><%= link_to "Sign in", "#myModal", html_options = { :"data-toggle" => "modal"} %></li>
          <% end %>
        </ul>

      </nav>
    </div>
  </div>
</header>

<%= render "static_pages/signin" %>
