<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Games store", '/', id: "logo",  class: "brand"%>
      <nav>
        <ul class="nav">
          <li class="<%= 'active' if controller.controller_name == 'games' %>">
             <%= link_to "Game", admin_games_path, method: :get %>
          </li>
          <li class="<%= 'active' if controller.controller_name == 'users' %>">
             <%= link_to "User", admin_users_path, method: :get %>
          </li>
          <li class="<%= 'active' if controller.controller_name == 'categories' %>">
             <%= link_to "Category", admin_categories_path, method: :get %>
          </li>
          <li class="<%= 'active' if controller.controller_name == 'comments' %>">
             <%= link_to "Comment", admin_comments_path, method: :get %>
          </li>
        </ul>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to current_user.email, '#' %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <li><%= link_to "Sign in", "#myModal", html_options = { :"data-toggle" => "modal"} %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<%= render "share/signin" %>