<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container container_header">
    <%= image_tag "icon.png", size: "24x24", id: "logo" %>
      <nav>
        <ul class="nav pull-left">
        	<li class="<%= 'active' if controller.action_name == 'index' %>" >
          <%= link_to "Home", root_path %>
          </li>
          <li>
          <%= link_to "Help",    '#' %>
          </li>
          <li class="<%= 'active' if controller.action_name == 'new' && controller.controller_name == 'registrations' %>" >
          <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <% if signed_in? %>
            <li><%= link_to current_user.email, '#' %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <li><%= link_to "Sign in", "#myModal", html_options = { :"data-toggle" => "modal"} %></li>
          <% end %>
        </ul>

				<form class="navbar-search pull-left" action="<%= games_search_path %>">
  				<input type="text" class="search-query span2" placeholder="Search" name="search_text">
				</form>
				
      </nav>
    </div>
  </div>
</header>

<%= render "share/signin" %>
