<ul class="nav nav-list">
  <% @caterogies = Category.all %>
  <li class="nav-header">
  Caterogies
  </li>
  <% @caterogies.each do |caterogy| %>
  <li class="<%= 'active' if params[:category] == caterogy.id.to_s %>">
    <a href="<%= root_path %>?category=<%= caterogy.id %>"><%= caterogy.name %></a>
  </li>
  <% end %>
  <br/>
  
  <% @news = News.all %>
  <li class="nav-header">
  News
  </li>
  <% @news.each do |news| %>
  <li>
  <a href="<%= news_path %>?news=<%= news.id %>"><%= news.title %></a>
  </li>
  <% end %>
  <br/>
  
  <li class="nav-header">
  Supports
  </li>
  <li>
  <a href="#">Support 1</a>
  </li>
  <li>
  <a href="#">Support 2</a>
  </li>
</ul>