<!DOCTYPE html>
<html>
<head>
  <title>GamesStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "coin-slider-styles", :media => "all" %>
  <%= javascript_include_tag "coin-slider" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
