<!DOCTYPE html>
<html>
<head>
  <title>GamesStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
</head>
<body>
  
  <%= render 'layouts/header' %>
  <div class="container">
    <% if @actionpage == "index" %>
      <%= render 'layouts/slider_banner' %> 
    <% elsif @actionpage == "show" %>
      <%= render 'layouts/banner' %>
    <% end %>
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav" style="background-image:url('/assets/grey.png')">
        <%= render 'layouts/nav' %>
        </div>
      </div>
      
      <div class="span9 well" style="width: 661px; background-image:url('/assets/light.png')">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
